.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3em;
    .button {
        width: 130px;
        height: 130px;
        cursor: pointer;
        margin-left: 20%;
    }
}

.logo {
    display: flex;
    justify-content: center;
    height: 400px;
    margin: 0 auto;
}