.browse-container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-height: 200vh;
    flex-basis: 25%;
}

.head-logo {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    img {
        height: 150px;
    }
}