@import url('https://fonts.googleapis.com/css?family=Impact&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: #F38118;
    font-family: 'Jost', 'Impact', sans-serif;
    color: #fff;
}